name: CI Build and Push Docker

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: pytest

      - name: Send email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USER }}        # Ton adresse Gmail
          password: ${{ secrets.MAIL_PASS }}        # App Password Gmail
          subject: "❌ Tests échoués sur GitHub Actions"
          to: "tonadresse@gmail.com"                # Destinataire du mail
          from: "CI Pipeline <${{ secrets.MAIL_USER }}>"
          body: |
            Les tests unitaires de ton projet Flask ont échoué.
            Consulte GitHub Actions pour plus de détails :
            ${{ github.repository }}/actions/runs/${{ github.run_id }}

  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t monimage:latest .

      - name: Tag Docker image
        run: |
          docker tag monimage:latest ${{ secrets.DOCKER_USERNAME }}/monimage:latest

      - name: Push to Docker Hub
        if: ${{ success() }}
        run: docker push ${{ secrets.DOCKER_USERNAME }}/monimage:latest
